<nav>
	<h1 class="title">Confirm Entry</h1>
</nav>

<h2><%= @food.name %></h2>

<div class="newform">

	<table class="showtable">
		<tr>
			<td>Name</td>
			<td><%= @food.name %></td>
		</tr>
		<tr>
			<td>Price</td>
			<td><%= @food.price %></td>
		</tr>
		<tr>
			<td>Cuisine</td>
			<td><%= @food.cuisine %></td>
		</tr>
		<tr>
			<td>Allergens</td>
			<td><%= @food.allergen %></td>
		</tr>
		<tr>
			<td>Dietary Restrictions</td>
			<td><%= @food.diet_flags %></td>
		</tr>
		<tr>
			<td>Calories</td>
			<td><%= @food.calories %></td>
		</tr>
		<tr>
			<td>Inventory</td>
			<td><%= @food.inventory %></td>
		</tr>
	</table>

</div>
	
<nav>
	<ul>
		<li><a href="/foods">CONFIRMED</a></li>
		<li><a href="/foods/<%=@food.id%>/edit">EDIT</a></li>
	</ul>
</nav>

