<h1>Reservation</h1>
<h2><% @party.name  %></h2>

<table class="showtable">
	<tr>
		<td>Party Head</td>
		<td><%= @party.party_head_name %></td>
	</tr>
	<tr>
		<td>Past Attendance</td>
		<td><%= @party.past_attendance %></td>
	</tr>
	<tr>
		<td>Members of Party</td>
		<td><%= @party.attendees %></td>
	</tr>
	<tr>
		<td>Table Number</td>
		<td><%= @party.table %></td>
	</tr>
	<tr>
		<td>Dietary Restrictions</td>
		<td><%= @party.diet %></td>
	</tr>
	<tr>
		<td>Allergies</td>
		<td><%= @party.allergies %></td>
	</tr>
	<tr>
		<td>Paid?</td>
		<td><%= @party.paid %></td>
	</tr>
</table>

<h2>Currently, the party has ordered the following:</h2>
<table class="current_meal_status">
	<th>Item</th>
	<th>Price</th>
	<% @party.orders.each do |order| %>
	<tr>
		<td><%= order.food %></td>
		<td><%= order.price %></td>
	</tr>
	<%end%>
</table>
