<nav>
	<h1 class="title">New Order</h1>
</nav>
<br>

<div class="group">
	<nav>
		<ul>
			<li><a href="/orders">Go Back</a></li>
		</ul>
	</nav>
</div>
<br>

<div class="newform">

	<form action="/orders" method="post" class="newform">
		Party Name:<input type="text" name="order[party]"/><br><br>
		Item:<input type="text" name="order[food]"/><br><br>
		<input type="submit" value="Submit"/>
	</form>

	<h2 class="subtitle">Parties Currently Being Served</h2>
		<table>
			<thead>
				<th>Name</th>
				<th>Size</th>
				<th>Table</th>
			</thead>
			
			<tbody>

				<% @parties.each do |party| %>
					<tr>
						<td><%= party.name %></td>
						<td><%= party.attendees %></td>
						<td><%= party.tab_num %></td>
					</tr>
				<%end%>
			</tbody>

		</table>

	<h2 class="subtitle">Menu Options</h2>

		<table>
			
			<thead>
				<th>Type</th>
				<th>Inventory</th>
				<th>Allergen?</th>
				<th>Diet Restriction</th>
			</thead>

			<tbody>
				<%@foods.each do |food| %>
				<tr>
					<td><%= food.name %></td>
					<td><%= food.inventory %></td>
					<td><%= food.allergen %></td>
					<td><%= food.diet_flags %></td>
				</tr>
				<%end%>
			</tbody>

		</table>
</div>